/* =============
    Header
============= */
header{

    div {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas:
        "bars ."
        "nav nav";

        section:nth-child(1) {
            grid-area: bars;

            @include md {
                display: none;
            }


            button {
                background-color: $peach;
                border: none;
                outline: none;
                padding: 0 0 10px 0;
            }
        }

        nav {
            grid-area: nav;
            background-color: $red;
            margin: 0 0 0 20px;

            @include md {
                background-color: inherit;
                display: block !important;
            }


            }
        }







}
